*{
    box-sizing: border-box;
}
body{
    background-color: #DCDCDC;
    // .container{
    //     width: 1400px;
    //     margin: 0 auto;
    //     
    //     display:flex;
    //     justify-content: space-evenly;
    //     color: #4B0082;
    //     margin-bottom: 15px;
    //     }
        a{
            text-decoration: none;
        }
        li, ul {
            list-style: none;
        }
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
   
}

.header-logo {
    padding-left: 30px;
    img{       
        width: 100px;        
    }

}
.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        text-transform: uppercase;
        color:#F4A460;
        margin-bottom: -15px;
    }
    .header-h2{
        color:#F4A460;
        text-transform: uppercase;
    }     
    
}


.heder-buttons{
    width: 1400px;
    margin: 0 auto;
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.buttots-item{
    display: flex;
    justify-content: space-evenly;
}
.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    background-color: #6495ED;
    border: 2px solid #4169E1;
    border-radius: 5px;
    color: white;
    transition: 0.3s ease;
    &:hover{
        background-color: #4169E1;
        border: 2px solid #6495ED;
        transition: 0.3s ease;
        }
}
.buttots-item{
    display: flex;
    justify-content: space-evenly;
    
}

.main{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    margin-top: 5px;   

}
.main-news{
    display: flex;
    align-items:center;
    flex-direction: column;    
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-right: 5px;
    .main-news-wrapper{
        display: flex;
        align-items:center;
        padding: 15px;       
        width: 300px;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .main-news-title{
        color: blueviolet;
        padding-left: 15px;
        text-align: center;
        text-transform: uppercase;

    }
    p{
        padding: 10px;
    }
}
.main-discription{
    display: flex;
    align-items:center;
    flex-direction: column;    
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-right: 5px;
    padding: 15px;

}
.main-some-block{
    display: flex;
    align-items:center;
    flex-direction: column;    
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-right: 5px;
    padding: 15px;

}



.author{
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #F0FFFF;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

}

    .card{
        display: flex;
        justify-content: space-evenly;
        
    }

    .card-body{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 300px;
        height: 500px;
        border: 2px solid #4169E1;
        border-radius: 9px;
        &:hover{
            
            box-shadow: 10px 2px 8px 10px rgba(0, 0, 0, 0.15);
        }
        
}
    .card-title{
        text-transform: uppercase;
        text-align: center;
        color: coral;
    }

    .card-text{
        padding: 15px;
    }


.nav-drop a{ 
    border:2px solid #4169E1;
    padding: 10px;
    margin: 0 auto;
    border-radius: 9px;
 }

/* sub menu */
.nav-drop li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    
    
}
  .nav-drop li > ul li {
    //border: 1px solid lightgrey;
  }
  
  .nav-drop li > ul li a {
    padding: 10px;
    text-transform: none;
    

  }
  .author-img-preview{
    width: 230px;
    height: 280px;
    position: absolute;
    top: 15px;
    left: 0px;
  }

  .nav-drop li > ul li ul {
    position: absolute;
    right: -150px;
    top: 10px;
  }
  .nav-drop li:hover > ul {
    display: block;
    transition: 0.3s ease;
  }
  
  .card{
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    
}
  .card-item{
    margin-top: 10px;
    transition: transform 0.3s;
    border-radius: 5px;
   
}
    

footer{

    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1fcfcf;
    border-radius: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    .text{
        padding: 15px;
    }

}